EXPO_PUBLIC_SUPABASE_URL=https://cvofzbwyndvpnaeeeahx.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN2b2Z6Ynd5bmR2cG5hZWVlYWh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYyNjEwODgsImV4cCI6MjA3MTgzNzA4OH0.dbNiaLi90DDZiTSV4YjYBoUN6Vc9Yz5pBAXkT7pXzd0